.btn{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 15px;
    background-color: rgb(97, 130, 202);
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.error {
    color: red;
  }