.todo-list {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.todo-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.delete {
  background-color: rgb(166, 57, 57);
}

.change {
  background-color: rgb(63, 150, 85);
  min-width: 80px;
}

.edit {
  min-width: 80px;
}

.todo-field {
  width: 100%;
  box-sizing: border-box;
}

.input {
  width: 100%;
  box-sizing: border-box;
}
